In [1]:
import sqlite3

conn = sqlite3.connect('ex1.db')
c = conn.cursor()

c.execute('''
        CREATE TABLE books (id integer, title text, price integer)
''')

c. execute('''
        INSERT INTO books VALUES (1, 'python 가이드', 5000)
''')
c. execute('''
        INSERT INTO books VALUES (2, 'js 가이드', 5000)
''')

conn.commit()
conn.close()

In [2]:
conn = sqlite3.connect('ex1.db')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM books ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

(1, 'python 가이드', 5000)
(2, 'js 가이드', 5000)

In [3]:
conn = sqlite3.connect('ex1.db')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM books ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

(1, 'python 가이드', 5000)
(2, 'js 가이드', 5000)

In [4]:
## 실습 2
import sqlite3

conn = sqlite3.connect('ex2.db')
c = conn.cursor()

c.execute('''
    CREATE TABLE books (id integer, title text, price integer)
''')

for i in range(10):
    c.execute(f"INSERT INTO books VALUES ({i}, 'python 가이드', {i*1000})")

conn.commit()
conn.close()

In [5]:
conn = sqlite3.connect('ex2.db')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM books ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

(0, 'python 가이드', 0)
(1, 'python 가이드', 1000)
(2, 'python 가이드', 2000)
(3, 'python 가이드', 3000)
(4, 'python 가이드', 4000)
(5, 'python 가이드', 5000)
(6, 'python 가이드', 6000)
(7, 'python 가이드', 7000)
(8, 'python 가이드', 8000)
(9, 'python 가이드', 9000)

In [6]:
## 실습 3
import sqlite3

data = {
    'id': [1, 2, 3],
    'title': ['1', '2', '3'],
    'content': ['11', '22', '33', '44', '55']
}

# 데이터베이스에 연결
conn = sqlite3.connect('ex3.db')

# 커서 생성
cursor = conn.cursor()

# post 테이블 생성
cursor.execute('CREATE TABLE post (id INTEGER, title TEXT, content TEXT)')

# 데이터 삽입
for i in range(len(data['id'])):
    cursor.execute('INSERT INTO post VALUES (?, ?, ?)', (data['id'][i], data['title'][i], data['content'][i]))

# 커밋(변경 사항 저장)
conn.commit()

# 연결 닫기
conn.close()

In [7]:
conn = sqlite3.connect('ex3.db')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM post'):
    print(row)

# 연결 종료
conn.close()

(1, '1', '11')
(2, '2', '22')
(3, '3', '33')

In [ ]:
- 오르미를 위한 특별 과제입니다. 코드를 한 블록으로 만들어서 스터디 방에 업로드 해주세요.
    - book 크롤링한 데이터를 데이터베이스에 담아야 합니다.
        - 데이터베이스를 생성
        - 크롤링
        - id, title, price, author
    - 데이터베이스를 읽습니다.
    - 데이터베이스를 JSON 형태로 출력해야 합니다. 출력 이름은 output.json